@supports (display: grid)
{
    @media screen and (min-width: 34em)
    {
        .gridplot
        {
            background-color: rgb(20, 20, 20);
            text-align: center;
            display: grid;
            grid-gap: 0px;
        }
        @media (min-width: 50em)
        {
            .gridplot
            {
                height: 97.9865vh;
                justify-self: center;
                grid-template:
                    [row1-start] "A . B B B" 3fr [row1-end]
                    [row2-start] "A . C C E" 2fr [row2-end]
                    [row3-start] "A . D D E" 5fr [row3-end]
                    [row4-start] "A . F F F" 3fr [row4-end]
                    / 160px 1px 6fr 2fr 12.5vw ;
            }
        }

        #header
        {
            grid-area: B;
        }
        #menu
        {
            grid-area: C;
        }
        #main
        {
            grid-area: D;
        }
        #left
        {
            grid-area: A;
        }
        #right 
        {
            grid-area: E;
        }
        #footer
        {
            grid-area: F;
        }
    }
}