@supports (display: grid)
{
    header
    {
        grid-area: B;
        background-color: blueviolet;
    }
    menu
    {
        grid-area: C;
        background-color: whitesmoke;
    }
    main
    {
        grid-area: D;
        background-color: green;
    }
    left
    {
        grid-area: A;
        background-color: palegoldenrod;
    }
    right 
    {
        grid-area: E;
        background-color: black
    }
    footer
    {
        grid-area: F;
        background-color: red;
        text-align: center;
    }
}