#header
{
    background-color: rgb(32, 32, 32);
    border-bottom: 3px solid darkred;
}
#menu
{
    background-color: darkslategray;
}
#main
{
    background-color: rgb(235, 235, 235);
    border: 5px solid darkslateblue;
}
#left
{
    background-color: palegoldenrod;
    overflow-x: hidden;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
}
#right 
{
    background-color: black
}
#footer
{
    background-color: red;
    text-align: center;
}

.sticky
{
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.long
{
    height: 500px;
}

.menubar
{
    height: 40px;
    display: flex;
}
.menuitem
{
    flex-grow: 1;
    border: 2px solid lightslategray;
}
.menuitem:hover
{
    border: none;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    cursor: pointer;
}
.menuitem.selection
{
    border: none;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    cursor: pointer;
}

#left .menublock
{
    height: 200px;
    display: block;
}
#left .menublockitem
{
    mix-blend-mode: difference;
    background-color: rgb(26, 26, 26);
    color: white;
    border: 1px solid orangered;
}
#left .menublockitem:hover
{
    border: none;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    border-bottom: 2px solid lightslategray;;
    cursor: pointer;
}
#left .menublockitem.selection
{
    border: none;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    cursor: pointer;
}